/*
* {
  border:1px solid;
}
*/
p {
  font-family: 'Crete Round', serif;
  font-size: 16px;
}

h1 {
 font-family: 'Oswald', sans-serif;
 font-size:32px;
}

.container {
  padding-top:40px;
  width:600px;
  height:750px;
  border:3px solid MidnightBlue;
  margin:auto;
}

.header {
  width:200px;
  height:140px;
  margin:auto;
  text-align:center;
  border:1px dotted;
  color:MidnightBlue;
}

.box {
  width:200px;
  height:150px;
  margin:auto;
  text-align:center;
  border:1px dotted;
  background-color:MidnightBlue;
  color:white;
}

.round {
  width:200px;
  height:200px;
  margin:auto;
  padding-top:50px;
  padding-bottom:50px;
  text-align:center;
}

.round img {
  border-radius:100%;
  display:inline-block;

}
